.detail-container {
  width: 70%;
  max-width: 900px;
  margin: 40px auto;
  background: #fff6e4;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #e0caa2;
  text-align: center;
}

.detail-img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.detail-title {
  font-size: 2.5rem;
  color: #6d3d0f;
  margin: 20px 0;
}

.detail-info {
  font-size: 1.3rem;
  margin: 10px 0;
  color: black;
}

.detail-description {
  margin: 20px 0;
  font-size: 1.2rem;
  color: black;
}

.back-btn {
  background: #c48744;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

.back-btn:hover {
  background: #a76a32;
}
