.home-container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

.home-title {
  text-align: center;
  font-size: 3rem;
  margin: 30px 0;
  color: #6d3d0f;
  font-weight: bold;
}

.animals-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
