.animal-card {
  background: #fff6e4;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid #e0caa2;
}

.animal-card:hover {
  transform: scale(1.03);
}

.animal-card-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.animal-card-name {
  margin: 10px;
  font-size: 1.3rem;
  color: #4a2c0a;
}
